---
import HeroVideo from '@/components/home/HeroVideo';

import NavBar from '@/components/NavBar/NavBar.astro';
import Footer from '@/components/Footer.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
import Base from '@/layouts/Base.astro';
---

<Base title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <header class="relative bg-dark-100 text-light-80 flex flex-col">
    <NavBar dark />
    <div class="w-full max-w-7xl mx-auto px-6 md:px-10 mt-20 md:mt-30">
      <div
        class="gap-5 lg:gap-12 grid lg:grid-cols-(--lg-grid-cols) items-center mb-10"
        style={{ '--lg-grid-cols': 'auto auto' }}
      >
        <h1 class="text-h4 md:text-h1 text-balance lg:text-pretty">The Open Source Player for the Web</h1>
        <p class="md:text-md text-balance max-w-100">
          For over 15 years, VideoJS has been the world’s web video player. Now rebuilt in v10 for modern development
          and performance.
        </p>
      </div>
      <div class="vjs relative z-10 w-full -mb-11 md:-mb-21 lg:-mb-32 grid grid-cols-1 grid-rows-1">
        <HeroVideo client:load className="aspect-video rounded-3xl bg-dark-80 shadow-2xl" />
      </div>
    </div>
    <div class="absolute bottom-0 left-0 right-0 h-28 md:h-67 grid grid-rows-4">
      <div class="bg-brand-yellow"></div>
      <div class="bg-brand-orange"></div>
      <div class="bg-brand-red"></div>
      <div class="bg-brand-purple"></div>
    </div>
  </header>
  <!-- padding corresponds to negative margin on player -->
  <main class="pt-11 md:pt-21 lg:pt-32 px-6 md:px-10 w-full max-w-7xl mx-auto min-h-64"></main>
  <Footer />
</Base>
