---
import type { AnySupportedStyle } from '@/types/docs';

interface Props {
  styles?: AnySupportedStyle[];
  /**
   * I'm running into some crazy problems with hydration.
   * Putting client:load in one of these conditionals causes Astro to just give up hydrating the whole app for some reason.
   * If you're running into that, too, this prop may be for you.
   */
  withHydrationWorkaround?: boolean;
}

const { styles, withHydrationWorkaround } = Astro.props;
const { style } = Astro.params;

// Only render if current style matches, or if no styles specified (all styles)
const shouldRender = !styles || styles.includes(style as AnySupportedStyle);
---

{
  withHydrationWorkaround ? (
    <div class="contents" hidden={!shouldRender}>
      <slot />
    </div>
  ) : (
    shouldRender && <slot />
  )
}
