/** @TODO: Improve/Polish CSS Here */
/* Media Container UI/Styles */
.Container {
  display: inline-block;
  position: relative;
  /* NOTE: Setting color here for generic inheritance, including SVG fill: currentColor defaults (CJP) */
  color: rgb(238 238 238);

  video {
    width: 100%;
    height: 100%;
  }

  .Overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    /* pointer-events: none; */
    background: none;
  }
}

/* Generic Media Button Styling */
.Button {
  border: none;
  background: rgb(20 20 30 / 0.7);
  padding: 4px;
  cursor: pointer;
  color: rgb(238 238 238);

  /* @TODO Currently, the web component version of icons "bakes in" these styles. Determine which approach we prefer (CJP) */
  .Icon {
    width: 24px;
    height: 24px;
    display: none;
  }
}
/*
.MediaPlayButton:not([data-paused]) .PauseIcon,
.MediaPlayButton[data-paused] .PlayIcon {
  display: inline-block;
} */

/* One way to define the "default visible" icon (CJP) */
.MediaMuteButton:not([data-volume-level]) .VolumeLowIcon,
.MediaMuteButton[data-volume-level='high'] .VolumeHighIcon,
.MediaMuteButton[data-volume-level='low'] .VolumeLowIcon,
.MediaMuteButton[data-volume-level='medium'] .VolumeLowIcon,
.MediaMuteButton[data-volume-level='off'] .VolumeOffIcon {
  display: inline-block;
}

/* Media Control Bar UI/Styles */
.ControlBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.Spacer {
  flex-grow: 1;
}

/* Base Button Styling */
.MediaPlayButton {
  border: none;
  background: rgb(20 20 30 / 0.7);
  padding: 4px;
  cursor: pointer;
  color: rgb(238 238 238);

  /* Basic Icon Styling for Buttons */
  .PlayIcon,
  .PauseIcon {
    width: 24px;
    height: 24px;
    display: none; /* Hide icons by default */
  }

  /* Show PlayIcon if paused and PauseIcon if unpaused */
  &:not([data-paused]) .PauseIcon,
  &[data-paused] .PlayIcon {
    display: inline-block;
  }
}

/* TimeRange Component Styles */
.TimeRangeRoot {
  display: flex;
  align-items: center;
  position: relative;
  min-width: 100px;
  width: 100%;
  padding-block: .75rem;
  margin: 0 .5rem;
}

.TimeRangeTrack {
  position: relative;
  width: 100%;
  height: .375rem;
  background-color: #e0e0e0;
  border-radius: .25rem;
  overflow: hidden;
}

.TimeRangeThumb {
  width: .75rem;
  height: .75rem;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
}

.TimeRangePointer {
  background-color: rgba(255, 255, 255, .5);
  pointer-events: none;
}

.TimeRangeProgress {
  background-color: #007bff;
  border-radius: inherit;
}
