---
export interface Props {
  dark?: boolean;
  class?: string;
}
const { class: className, dark = false } = Astro.props;
---

<nav
  class:list={['pl-3 flex justify-between sticky top-0', dark ? 'bg-dark-100' : 'bg-light-80', className]}
  style="height: var(--nav-h);"
>
  <slot />
  <!-- Desktop button box -->
  <div class="hidden lg:flex">
    <a href="/" class="h-full flex items-center px-6">Browse players</a>
    <a
      href="/"
      class:list={['h-full flex items-center px-4', dark ? 'bg-light-80 text-dark-100' : 'bg-dark-100 text-light-80']}
    >
      Get started
    </a>
  </div>
  <!-- Mobile nav thing -->
</nav>
