<!-- TODO: hide this behind an overscroll animation........... somehow. -->
<div class="@container relative overflow-hidden not-supports-container:hidden">
  <div class="absolute h-1/4 top-0 left-0 right-0 bg-yellow"></div>
  <div class="absolute h-1/4 top-1/4 left-0 right-0 bg-orange"></div>
  <div class="absolute h-1/4 top-1/2 left-0 right-0 bg-red"></div>
  <div class="absolute h-1/4 top-3/4 left-0 right-0 bg-purple"></div>
  <div
    class="relative font-semibold tracking-tighter text-light-80 select-none"
    style="font-size:28cqi;line-height:0.72;"
  >
    VideoJS
  </div>
</div>
