---
interface Props {
  dark?: boolean;
}
const { dark = false } = Astro.props;
---

<nav class="h-13 lg:h-14 pl-3 flex justify-between">
  <!-- Desktop nav links -->
  <div class="hidden lg:flex h-full">
    <a href="/" class="h-full flex items-center px-3">Home</a>
    <a href="/docs" class="h-full flex items-center px-3">Docs</a>
    <a href="/blog" class="h-full flex items-center px-3">Blog</a>
  </div>
  <!-- Logo -->
  <a href="/" class="flex items-center px-3 text-h5">VideoJS</a>
  <!-- Desktop button box -->
  <div class="hidden lg:flex">
    <a href="/" class="h-full flex items-center px-6">Browse players</a>
    <a
      href="/"
      class:list={['h-full flex items-center px-4', dark ? 'bg-light-80 text-dark-100' : 'bg-dark-100 text-light-80']}
    >
      Get started
    </a>
  </div>
  <!-- Mobile nav thing -->
</nav>
